.full-height {
    min-height: 79vh !important;
}
.sale-box{
    min-height: 79vh !important;
    display: block;
    overflow: auto;
    background: white;
}
.sale-header{
    margin-bottom: 1rem !important;
}

.form-group #productCode{
    position: relative;
}

.form-group .suggestion {
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
    display: block;
}