.full-height {
    height: 79vh !important;
}

.form-group #productCode{
    position: relative;
}

.form-group .suggestion {
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
    display: block;
} 
/*.input-search .dropdown .dropdown-menu li:hover {
    background-color: #ddd;
}

.input-search .dropdown .dropdown-menu {
    width: 100%;
    transform: translate(0px, 38px) !important;
}

.input-search .dropdown .dropdown-menu.list-group:not(.show) {
    transform: translate(0px, 0px) !important;
}


.dropdown-menu.list-group.show {
    transform: translate(-25px, 40px) !important;
}*/



/*.input-search .dropdown .dropdown-menu li {
    color:red;
}*/