
@{
    ViewData["Title"] = "Destructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>HÀNG HÓA HỦY</h3>
            <p class="text-subtitle text-muted">Quản lý hàng bị hủy trong cửa hàng</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hủy hàng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-content">

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="col-12 d-flex justify-content-end" style="margin-bottom: 7px;">
                    <a href="@Url.Action("CreateDestruction","Admin")" class="btn btn-success me-1 mb-1">
                        <i class="bi bi-lock-open"></i> Tạo phiếu hủy hàng
                    </a>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <h6>Tìm kiếm</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control"
                                                   placeholder="Tên hàng / mã vạch / mô tả" name="keyword" id="keyword">
                                            <div class="form-control-icon">
                                                <i class="bi bi-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <h6>Ngày bắt đầu</h6>
                                        <input class="form-control" id="startDate" type="date" />
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <h6>Ngày kết thúc</h6>
                                        <input class="form-control" id="endDate" type="date" />

                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary me-1 mb-1">
                                            Lọc đơn hủy
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh mục hàng hóa
            </div>
            <div class="card-body">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hủy</th>
                            <th>Tổng tiền</th>
                            <th>Ngày hủy</th>
                            <th>Người hủy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="destructions">
                    </tbody>
                </table>


                <div class="dataTable-bottom">
                    <ul class="pagination pagination-primary float-end dataTable-pagination" id="mas-pagingation" onclick="">
                    </ul>
                </div>
            </div>
        </div>

    </section>

</div>
<script>
    $(document).ready(function () {
        GetDestructions(1);
    });
    function GetDestructions(page) {
        let url = '@Url.Action("GetDestructionPaging", "Admin")';
        let keyword = $("#keyword").val();
        let start = $("#startDate").val();
        let end = $("#endDate").val();
        let request = {
            keyword: keyword,
            startDate: start,
            endDate: end,
            page: page,
            pageSize: 10
        };
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            data: request,
            success: function (data) {
                let html = "";
                if (data.items.length > 0) {
                    data.items.forEach(function (item, index) {
                        html += '<tr destruction-id="';
                        html += item.id;
                        html += '"><td>';
                        html += index++;
                        html += '</td><td>';
                        html += item.code;
                        html += '</td><td>';
                        html += item.amount;
                        html += '</td><td>';
                        html += item.createdDate;
                        html += '</td><td>';
                        html += item.createdBy;
                        html += '</td><td>';
                        html += '<a href="javascript:;" class="destruction-info"><i class="fa fa-print" aria-hidden="true"></i></a>';
                        html += '</td></tr>';
                    });

                    $("#destructions").html(html);

                    $("a.destruction-info").click(function () {
                        let id = $(this).closest("tr").attr("destruction-id");

                        $.ajax({
                            url: "@Url.Action("PrintDestruction","Admin")",
                            type: "GET",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            traditional: true,
                            data: {
                                id : id
                            },
                            success: function (data) {
                                PrintInvoice(data);
                            }
                        });
                    });

                    generatePaging(page, data.totalPage, GetDestructions);
                } else {
                    html += '<tr><td colspan="6" class="text-center">Không có phiếu hủy hàng</td><tr>';
                    $("#destructions").html(html);
                }
            }
        })
    }

    function PrintInvoice(html) {
        var frame1 = document.createElement('iframe');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        frameDoc.document.write(html);
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
        }, 200);

        return false;
    }
</script>