
@{
    ViewData["Title"] = "Phiếu nhập hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>NHẬP HÀNG</h3>
            <p class="text-subtitle text-muted">Quản lý hóa đơn nhập</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nhập hàng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-content">

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="col-12 d-flex justify-content-end" style="margin-bottom: 7px;">
                    <a href="@Url.Action("AddImportInvoice","Admin")" class="btn btn-success me-1 mb-1">
                        <i class="bi bi-lock-open"></i> Tạo phiếu nhập hàng
                    </a>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <h6>Tìm kiếm</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control"
                                                   placeholder="Mã hóa đơn, mô tả" name="keyword" id="keyword">
                                            <div class="form-control-icon">
                                                <i class="bi bi-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <h6>Ngày bắt đầu</h6>
                                        <input class="form-control" id="startDate" type="date" />
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <h6>Ngày kết thúc</h6>
                                        <input class="form-control" id="endDate" type="date" />

                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="GetImportInvoices(1)">
                                            Lọc đơn nhập
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh mục hàng hóa
            </div>
            <div class="card-body">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã đơn nhập</th>
                            <th>Tổng tiền</th>
                            <th>Nhà cung cấp</th>
                            <th>Người nhập</th>
                            <td>Ngày nhập</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="invoices">
                    </tbody>
                </table>


                <div class="dataTable-bottom">
                    <ul class="pagination pagination-primary float-end dataTable-pagination" id="mas-pagingation">
                    </ul>
                </div>
            </div>
        </div>

    </section>

</div>
<script>
    $(document).ready(function () {
        GetImportInvoices(1);
    });
    function GetImportInvoices(page) {
        let url = '@Url.Action("ImportInvoices", "Admin")';
        let keyword = $("#keyword").val();
        let start = $("#startDate").val();
        let end = $("#endDate").val();
        let request = {
            keyword: keyword,
            startDate: start,
            endDate: end,
            page: page,
            pageSize: 10
        };
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            data: request,
            success: function (data) {
                let html = "";
                if (data.items.length > 0) {
                    data.items.forEach(function (item, index) {
                        html += '<tr import-id="';
                        html += item.id;
                        html += '"><td>';
                        html += index+1;
                        html += '</td><td>';
                        html += item.code;
                        html += '</td><td><strong>';
                        html += item.amount;
                        html += '</strong></td><td>';
                        html += item.manufacture;
                        html += '</td><td>';
                        html += item.createdBy;
                        html += '</td><td>';
                        html += item.createdDate;
                        html += '</td><td>';
                        html += '<a href="javascript:;" class="import-info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>';
                        html += '</td></tr>';
                    });

                    $("#invoices").html(html);

                    $("a.import-info").click(function () {
                        let id = $(this).closest("tr").attr("import-id");
                        alert(id);
                    });

                    generatePaging(page, data.totalPage, GetImportInvoices);
                } else {
                    html += '<tr><td colspan="6" class="text-center">Không có phiếu nhập hàng</td><tr>';
                    $("#invoices").html(html);
                }
            }
        })
    }
</script>